
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .tab-content {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  .border-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
  }
  
  .left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    border-right: 1px solid #ccc;
    width: 30%;
    background-color: #ffffff;
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .list-view {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
  }
  
  .list-view li {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .list-view li:hover {
    background-color: #e0e0e0;
  }
  
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2rem;
    width: 70%;
    background-color: #ffffff;
  }
  
  .right-content {
    width: 100%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
  }
  
  .hbox {
    display: flex;
    align-items: center;
  }
  
  .hbox-grow {
    display: flex;
    flex-grow: 1;
    margin-top: 2rem;
  }
  
  .vbox {
    display: flex;
    flex-direction: column;
  }
  
  .column {
    margin-right: 2rem; /* Add margin between columns */
  }
  
  .bold-label {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem; /* Adjusted for better alignment */
  }
  
  .margin-top {
    margin-top: 1rem;
  }
  
  .margin-top-large {
    margin-top: 1.5rem;
  }
  
  .text-input {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .text-area {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    height: 140px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .combo-box {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .button-visible {
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  
  .button-visible.active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .button-visible.green {
    background-color: #28a745;
    color: white;
    border: #157a2c 1px solid;
  }
  
  .button-visible.red {
    background-color: #dc3545;
    color: white;
    border: rgb(98, 17, 17) 1px solid;
  }
  
  .button-visible.inactive {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #ccc;
  }
  
  .bottom-right {
    justify-content: center;
    width: 100%;
  }
  
  .button {
    background-color: #4A90E2;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .button:hover {
    background-color: #357ABD;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #357ABD;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-weight: bold;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
    }
  
    .left {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
    }
  
    .right {
      width: 100%;
    }
  
    .right-content {
      padding: 1rem;
    }
  
    .list-view li {
      padding: 0.5rem;
    }
  
    .button-visible {
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  
    .button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      margin-right: 0.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .left {
      padding: 1rem;
    }
  
    .right {
      padding: 1rem;
    }
  
    .bold-label {
      font-size: 1rem;
    }
  
    .text-input,
    .text-area,
    .combo-box {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
  }
  
  .user-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    margin-top: 1rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 15px;
    padding: 10px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    grid-column: span 2; /* Que ocupe las dos columnas */
    text-align: center;
  }
  
  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
    
  